/******************************************************************************/
/* Selectors for general elements start here.
/******************************************************************************/

:root {
  --color-text-1: #384351;
  --color-text-1-inverted: #ffffff;
  --color-brand-1: #3868a6;
  --color-brand-1a: #7295c2;
  --color-brand-1b: #dfe7f1;
  --color-brand-1c: #cdd5df;
  --color-brand-2: #5abfbf;
  --color-brand-2a: #c2d8d8;
  --color-brand-3: #f2c335;
  --color-brand-4: #f2aa52;
  --color-brand-5: #d95252;
  --color-brand-5a: #daafaf50;
  --color-brand-5b: #d4a7a7;
  --color-neutral-1: #dfdfdf;
  --color-neutral-2: #d2d2d2;
  --color-neutral-3: #c6c6c6;
  --color-neutral-4: #b2b2b2;
}

body {
  color: var(--color-text-1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  overflow-y: auto;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

/******************************************************************************/
/* Selectors for the header start here.
/******************************************************************************/

header {
  color: var(--color-text-1-inverted);
  background-color: var(--color-brand-1a);
  padding: 1rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  gap: 1rem;
}

.logo {
  width: 3rem;
}

/******************************************************************************/
/* Selectors for the main section start here.
/******************************************************************************/

main {
  padding: 3rem 0;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-evenly;
}

/******************************************************************************/
/* Selectors for the game over modal start here.
/******************************************************************************/

.game-over {
  width: 30%;
  height: 20%;
  border: none;
  border-radius: 0.3rem;
  box-shadow:
    3px 3px 5px var(--color-neutral-4),
    -3px 3px 5px var(--color-neutral-4);
  margin: auto;
  top: 0;
  bottom: 0;
  display: none;
}

.game-over[open] {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.game-over::backdrop {
  background-color: #3843513b;
}

.game-over button {
  background-color: var(--color-neutral-1);
  padding: 0.1rem 1rem;
  border-radius: 0.2rem;
  transition: background-color 0.2s ease;
}

.game-over button:hover {
  background-color: var(--color-neutral-2);
}

.game-over button:active {
  background-color: var(--color-neutral-3);
}

/******************************************************************************/
/* Selectors for the gameboards start here.
/******************************************************************************/

.gameboard-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hidden {
  display: none;
}

h2 {
  width: 100%;
  text-align: center;
  color: var(--color-text-1-inverted);
  background-color: var(--color-brand-5);
  padding: 0.2rem;
  border: 0.3rem solid transparent;
  border-radius: 0.5rem;
}

h2.turn {
  border: 0.3rem solid var(--color-brand-3);
  box-shadow:
    1px 1px 3px var(--color-brand-5a),
    -1px 1px 3px var(--color-brand-5a);
}

.board {
  display: grid;
  grid-template-columns: repeat(11, 2rem);
  grid-template-rows: repeat(11, 2rem);
  justify-items: center;
  align-items: center;
  gap: 0.15rem;
}

.box:not(.filler) {
  width: 100%;
  height: 100%;
  background-color: var(--color-brand-1b);
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}

.box.occupied {
  background-color: var(--color-neutral-2);
}

.user .box:not(.filler):hover {
  cursor: default;
}

.gameboard-container:not(.user) .box:not(.filler):hover {
  background-color: var(--color-brand-1c);
}

.gameboard-container:not(.user) .box:not(.filler):disabled:hover {
  cursor: default;
  background-color: var(--color-brand-1b);
}

.gameboard-container:not(.user) .box:not(.filler):has(.miss):hover {
  cursor: default;
  background-color: var(--color-brand-1b);
}

.gameboard-container:not(.user) .box:not(.filler):has(.hit):hover {
  cursor: default;
  background-color: var(--color-neutral-2);
}

.marker {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}

.ship {
  background-color: var(--color-neutral-4);
}

.miss {
  background-color: var(--color-brand-1a);
}

.hit {
  background-color: var(--color-brand-5);
}

/******************************************************************************/
/* Selectors for the ship selection start here.
/******************************************************************************/

.board-pieces-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.placed {
  background-color: var(--color-brand-2a);
}

.pieces {
  display: flex;
  gap: 1rem;
}

.pieces img {
  width: 3rem;
}

.pieces > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.piece {
  padding: 0.5rem;
  border: 0.1rem solid transparent;
  border-radius: 50%;
  transition: border 0.2s ease;
}

.piece:hover {
  border-color: var(--color-text-1);
}

.piece.active {
  border-color: var(--color-text-1);
}

.controls {
  display: flex;
  gap: 1rem;
}

.controls img {
  width: 2rem;
}

.controls > button {
  background-color: var(--color-neutral-2);
  padding: 0.2rem;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.controls > button:hover {
  background-color: var(--color-neutral-3);
}

.controls > button:active {
  background-color: var(--color-neutral-4);
}

/******************************************************************************/
/* Selectors for the footer start here.
/******************************************************************************/

footer {
  background-color: var(--color-brand-1a);
  padding: 1rem;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

footer a {
  color: var(--color-text-1-inverted);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

footer img {
  width: 1.5rem;
}

/******************************************************************************/
/* Media queries start here.
/******************************************************************************/

@media screen and (max-width: 850px) {
  header {
    justify-content: center;
  }

  main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 1rem;
  }

  .user.gameboard-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .opponent.gameboard-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}
